{% extends 'base.html' %}


{% block content %}

<div class="container">
    <h5 class="my-3 border-bottom pb-2">영화 관람 후기</h5>
    <form action="{% url 'nlp:predict' %}" method="post" class="post-form my-3">
        {% csrf_token %}

        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}

        <div class="form-group">
            <label for="review">당신의 평가</label>
            <input id="review" type="textarea" name="review" maxlength="200" required>
            <!-- <textarea class="form-control" name="review"
                      id="review" rows="10">{{ form.review.value }}</textarea> -->
        </div>
        
        <button type="submit" class="btn btn-primary">분류하기</button>
    </form>
</div>

{% endblock %}
